<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend+Exa&amp;display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/style.css" />
    <title>{{PageName}} {{product.name}}</title>
</head>
<div class="wrap">
    <div class="main">

        {{>nav}}

        <body>
            {{!-- a form to let the user create a new product
            a product has a name, image link, price, quantity, description --}}
            <div class="content">
                <div class="product-list" data-per-row="3">
                    <div class="row">
                        <div class="col-xxl-4">
                            {{!-- <form action="/product/new" method="POST"> --}}
                            {{!-- if pagename is "Edit product" then form action is /product/edit --}}
                            {{!-- if pagename is "Add a new Product" then form action is /product/new --}}
                            {{#ifEquals PageName 'Edit Product'}}
                            <form action="/product/edit/{{product.id}}" method="POST">
                                {{else}}
                                <form action="/product/new" method="POST">
                                    {{/ifEquals}}
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="text" value="{{product.name}}" class="form-control" id="name"
                                        name="name" placeholder="Enter name" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="image">Image</label>
                                    <input type="text" value="{{product.image}}" class="form-control" id="image" name="image"
                                        placeholder="Enter image link" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input type="text" value="{{product.price}}" class="form-control" id="price" name="price"
                                        placeholder="Enter price" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="quantity">Quantity</label>
                                    <input type="text" value="{{product.quantity}}" class="form-control" id="quantity" name="quantity"
                                        placeholder="Enter quantity" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" value="{{product.description}}" class="form-control" id="description" name="description"
                                        placeholder="Enter description" required="true">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </body>
    </div>
</div>

</html>